{% extends 'base.html'%}
{% block title%}

{{ object.full_name }}

{% endblock title%}
{% block content %}
{% include "includes/header.html"%}

<div class="grid-container">
	<div class="grid-x grid-margin-x">
	<div class="card" style="width: 300px;">
		  <div class="card-divider">
		   {{ empleado.job }}
		  </div>
		  <img src="{{empleado.avatar.url}}">
		  <div class="card-section">
		    <h4>This is a card.</h4>
		    <p>It has an easy to override visual style, and is appropriately subdued.</p>
		  </div>
		</div>
	</div>
</div>


{% endblock content %}